[user]
  name = Devin Brown
  email = devin.g.brown@gmail.com

[color]
  ui = auto

[alias]
  ss = status
  s  = status -sb
  cl = config --list
  a  = add
  c  = commit --verbose
  co = checkout
  d  = diff
  ds = diff --cached # diff staged changes
  pr = pull --rebase
  p  = push
  b  = branch
  m  = merge --no-ff
  ll = log --graph --numstat --abbrev-commit
  l  = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s%C(white) %an, %ar%Creset'
  lp = log -p
  bdr = "for-each-ref --sort=-committerdate refs/remotes/ --format='%(committerdate:short) %1B[0;31m%(refname:short)%1B[m'"
  bdl = "for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %1B[0;31m%(refname:short)%1B[m'"

  unstage = reset HEAD

  develop = checkout develop
  master  = checkout master
[core]
  excludesfile = ~/.gitignore
[github]
  user = obfk
[pull]
	default = current
[push]
	default = current

