[user]
    name = Devin Brown
    email = devin.g.brown@gmail.com

[color]
    ui = auto

[alias]
    ll = log --graph --numstat --abbrev-commit
    l  = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s.%C(white) %an, %ar%Creset'
[core]
	excludesfile = /Users/Devinb/.gitignore
[github]
	user = devinbrown
[ghi]
	token = 1295513edcf99f428928621b589b9f046d41a41f
